.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  background-color: #ededed;
}

.aboutBottom p {
  width: auto;
  color: black;
  padding-top: 4rem;
}

.about .aboutBottom h1 {
  padding-top: 2rem;
  font-weight: 400;
  font-size: 70px;
  color: #cab08f;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

@media only screen and (max-width: 650px) {

}